$ff_main: "Inter", Arial;
$ff_title: "Oranienbaum";

$mob: 576px;
$xs: 768px;
$sm: 991px;
$hovers: 992px;
$md: 1199px;
$lg: 1399px;

$white: #ffffff;
$dark: #333333;
$main: #BEAC83;
$text-dark: #452f27;
$gold-black: #5D574B;
$placeholder: #C4C4C4;
$brown: #916F5D;
$hover: #F9CE6C;
$card-hover: #D8BB78;

$error-bg: #FFF9F5;
$error-border: #D77846;