/bitrix/*
/node_modules/*
/upload/*
/nbproject/*
/bitrix/cache/
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/yookassa-sdk-php-master/
/.idea
*.sql
*.zip
*.xml
*.html
test.php
/*.htaccess
.sass-cache
.usermin
.xlsx
.csv
.httpauth
package-lock.json